
.wrapper {
    background: grey;
    padding: 20px;
    width: 50%;
    margin: 50px auto;
    border-radius: 5px;
}
.wrapper input, select{
    display: block;
    margin: 12px 0;
    width: 100%;
    padding: 18px;
    border-radius: 5px;
    border: 1px solid green;
}

select option{
    padding: 20px;
}